/Robot Car/прошивки/robot_pult/RobotCarPult/bin/
/Robot Car/прошивки/robot_pult/RobotCarPult/gen/

/Robot Car/прошивки/robotcar_usb_android/RobotCarAndroidUSBClient/bin/
/Robot Car/прошивки/robotcar_usb_android/RobotCarAndroidUSBClient/gen/

/Robot Car/приложения/robot_fancy_pult/RobotCarFancyPult/bin/
/Robot Car/приложения/robot_fancy_pult/RobotCarFancyPult/gen/

# Modules
node_modules
scad_modules

# gedit backups
*~

